.containerStylesh1 {
  background: #134074;
  font-size: 2px;
  color: white;
  width: 100%;
  margin:  auto;
  text-align: center;

}


.udiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  /* justify-content: center; */
  padding: 2%;
  margin-bottom: 2%;
}

.udivtem {
  
  flex-basis: 25%;
  margin-bottom: 1%;
}

.udivh2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 70px;
  font-weight: 400
}



.udivp {
  font: 1em;
  color: white;
  margin: 2%;
}
@media screen and (max-width:375px){
  max-width: auto;
  }
@media screen and (max-width:412px){
  max-width: 15rem;
  }
  @media screen and (max-width:768px){
    max-width: 20rem;
    }